<!-- index.html -->
{% extends "layout.html" %}

  {% block content %}

    {% include "partials/carousel.html" %}

    <section class="row text-center">
      <div class="col-xs-6 col-md-3">
        <div class="bg-primary feature"><span class="fa fa-fw fa-3x fa-check-square-o" aria-hidden="true"></span></div>
        <h5>Chose a service</h5>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="bg-primary feature"><span class="fa fa-fw fa-3x fa-pencil-square-o" aria-hidden="true"></span></div>
        <h5>Personalise your photos</h5>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="bg-primary feature"><span class="fa fa-fw fa-3x fa-lock" aria-hidden="true"></span></div>
        <h5>Checkout securely</h5>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="bg-primary feature"><span class="fa fa-fw fa-3x fa-car" aria-hidden="true"></span></div>
        <h5>Delivery to you direct</h5>
      </div>
    </section>

    <section class="row text-center">
      <div class="col-xs-12">
        <div class="row">
          <h3 class="title">Your Favourite</h3>
          <hr>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Service Name</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Service Name</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Service Name</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Service Name</h6>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Service Name</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Service Name</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Service Name</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Service Name</h6>
          </div>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="col-xs-12">
        <h3 class="text-center">About Us</h3>
        <hr class="faded">
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dicta quo recusandae error inventore dolore et deleniti quisquam odit aliquid, quidem libero consequatur at sit eum magnam tempore aperiam similique. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dicta quo recusandae error inventore dolore et deleniti quisquam odit aliquid, quidem libero consequatur at sit eum magnam tempore aperiam similique.</p>
      </div>
    </section>

    <section class="row">
      <h3 class="text-center">Customer Experience</h3>
      <hr class="faded">
      <div class="col-md-12">
        <div class="customer-experience">
          <div class="list-item row">
            <div class="col-md-3 col-md-offset-3">
              <img src="http://placehold.it/150?text=1" class="img-responsive img-circle img-thumbnail center-block" alt="">
            </div>
            <div class="col-md-5">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ut, magni quisquam nesciunt voluptate beatae maiores asperiores, incidunt, numquam recusandae tempora. Fugit dicta dolores excepturi culpa, error, ut ipsam iste?</p>
                <small>Customer Name</small>
              </blockquote>
            </div>
          </div>
          <div class="list-item row">
            <div class="col-md-3 col-md-offset-3">
              <img src="http://placehold.it/150?text=2" class="img-responsive img-circle img-thumbnail center-block" alt="">
            </div>
            <div class="col-md-5">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, quo. Assumenda, nemo? Nihil, tempore dicta. Atque doloribus, esse maxime sed deleniti rerum, natus mollitia consequatur ad, optio magnam eius officia.</p>
                <small>Customer Name</small>
              </blockquote>
            </div>
          </div>
          <div class="list-item row">
            <div class="col-md-3 col-md-offset-3">
              <img src="http://placehold.it/150?text=3" class="img-responsive img-circle img-thumbnail center-block" alt="">
            </div>
            <div class="col-md-5">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium omnis doloribus modi fuga, necessitatibus deserunt obcaecati consequatur, assumenda. Maiores commodi consequatur minima velit necessitatibus autem ex iusto doloribus, a quas.</p>
                <small>Customer Name</small>
              </blockquote>
            </div>
          </div>
          <div class="list-item row">
            <div class="col-md-3 col-md-offset-3">
              <img src="http://placehold.it/150?text=4" class="img-responsive img-circle img-thumbnail center-block" alt="">
            </div>
            <div class="col-md-5">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dicta beatae dolores fugit ratione nisi, quis pariatur minus temporibus in accusamus rerum minima mollitia, ad cupiditate deleniti ut odit ipsa.</p>
                <small>Customer Name</small>
              </blockquote>
            </div>
          </div>
        </div> <!-- slick slider -->
      </div> <!-- .twelve column main -->
    </section>
  {% endblock %}
