<!-- my-photos.html -->
{% extends "layout.html" %}

  {% block content %}

    <section class="row text-center">
      <div class="col-xs-12">
        <div class="row">
          <h3 class="title">Your Photos</h3>
          <hr>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Photo #</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Photo #</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Photo #</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Photo #</h6>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Photo #</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Photo #</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Photo #</h6>
          </div>
          <div class="col-xs-6 col-md-3">
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <h6 class="service-name">Photo #</h6>
          </div>
        </div>
      </div>
    </section>

  {% endblock %}
