<!-- photo-gift-subpages.html -->
{% extends "layout.html" %}

  {% block content %}

    <section class="row">
      <div class="col-md-12">
        <h3>Photo Mug/Shirt/Jewelry</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block" width="100%">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4"><img src="http://placehold.it/300x200" alt="" class="img-responsive center-block" width="100%"></div>
              <div class="col-md-4"><img src="http://placehold.it/300x200" alt="" class="img-responsive center-block" width="100%"></div>
              <div class="col-md-4"><img src="http://placehold.it/300x200" alt="" class="img-responsive center-block" width="100%"></div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <h6>Product Details</h6>
                <ul class="product-detail-list">
                  <li><p>Nulla aut necessitatibus nesciunt, in voluptatum nobis dolorem.</p></li>
                  <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Animi.</p></li>
                  <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Sapie.</p></li>
                  <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Conse.</p></li>
                  <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Delec.</p></li>
                  <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Recus.</p></li>
                </ul>
              </div>
            </div>
          </div> <!-- /.inner-six-columns -->

          <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus numquam doloribus reiciendis unde accusamus! Sapiente nisi, excepturi obcaecati praesentium perferendis magni eaque architecto nobis. Eligendi distinctio delectus veritatis molestiae quae!</p>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="photo-print" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="false" aria-expanded="true">
                Type/Size/Jewelry
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="photo-print">
                <li><a href="#">White</a></li>
                <li><a href="#">Inner Color</a></li>
                <li><a href="#">Magic</a></li>
              </ul>
            </div>

            <br>

            <h6>Price: <span class="text-right">35 BDT</span></h6>

            <input class="btn btn-primary btn-sm" type="submit" value="Order Product">
          </div> <!-- /.inner-six-columns -->
        </div> <!-- /.inner-row -->
      </div> <!-- /.twelve-columns -->
    </section>

    <br>

    {% include "partials/related-service.html" %}

  {% endblock %}
