<!-- photo-book.html -->
{% extends "layout.html" %}

  {% block content %}

    {% include "partials/carousel.html" %}

    <section class="row">
      <div class="col-md-12">
        <h4>Photo Card</h4>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <a href="photo-gift-subpage.html" class="thumbnail">
              <img src="http://placehold.it/450x300" alt="">
              <div class="caption">
                <p>Size: </p>
                <p>Page: </p>
                <p>Price:</p>
                <button href="#" class="btn btn-primary" role="button">Order Now</button>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="photo-gift-subpage.html" class="thumbnail">
              <img src="http://placehold.it/450x300" alt="">
              <div class="caption">
                <p>Size: </p>
                <p>Page: </p>
                <p>Price:</p>
                <button href="#" class="btn btn-primary" role="button">Order Now</button>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="photo-gift-subpage.html" class="thumbnail">
              <img src="http://placehold.it/450x300" alt="">
              <div class="caption">
                <p>Size: </p>
                <p>Page: </p>
                <p>Price:</p>
                <button href="#" class="btn btn-primary" role="button">Order Now</button>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a href="photo-gift-subpage.html" class="thumbnail">
              <img src="http://placehold.it/450x300" alt="">
              <div class="caption">
                <p>Size: </p>
                <p>Page: </p>
                <p>Price:</p>
                <button href="#" class="btn btn-primary" role="button">Order Now</button>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="photo-gift-subpage.html" class="thumbnail">
              <img src="http://placehold.it/450x300" alt="">
              <div class="caption">
                <p>Size: </p>
                <p>Page: </p>
                <p>Price:</p>
                <button href="#" class="btn btn-primary" role="button">Order Now</button>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="photo-gift-subpage.html" class="thumbnail">
              <img src="http://placehold.it/450x300" alt="">
              <div class="caption">
                <p>Size: </p>
                <p>Page: </p>
                <p>Price:</p>
                <button href="#" class="btn btn-primary" role="button">Order Now</button>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

  {% endblock %}
