<!-- photo-gift.html -->
{% extends "layout.html" %}

  {% block content %}

    {% include "partials/carousel.html" %}

    <section class="row">
      <h4 class="text-center">Photo Mug</h4>
      <hr class="faded">
      <div class="col-md-4">
        <img src="http://placehold.it/450x300" alt="" class="img-responsive center-block">
        <br>
        <div class="service-info">
          <h6>White Mug</h6>
          <h6>Price: XXX BDT</h6>
        </div>
      </div>
      <div class="col-md-4">
        <img src="http://placehold.it/450x300" alt="" class="img-responsive center-block">
        <br>
        <div class="service-info">
          <h6>Inner Color Mug</h6>
          <h6>Price: XXX BDT</h6>
        </div>
      </div>
      <div class="col-md-4">
        <img src="http://placehold.it/450x300" alt="" class="img-responsive center-block">
        <br>
        <div class="service-info">
          <h6>Magic Mug</h6>
          <h6>Price: XXX BDT</h6>
        </div>
      </div>
    </section>

    <section class="row">
      <h4 class="text-center">Photo Shirt</h4>
      <hr class="faded">
      <div class="col-md-4">
        <img src="http://placehold.it/450x300" alt="" class="img-responsive center-block">
        <br>
        <div class="service-info">
          <h6>T-shirt 1</h6>
          <h6>Price: XXX BDT</h6>
        </div>
      </div>
      <div class="col-md-4">
        <img src="http://placehold.it/450x300" alt="" class="img-responsive center-block">
        <br>
        <div class="service-info">
          <h6>T-shirt 2</h6>
          <h6>Price: XXX BDT</h6>
        </div>
      </div>
      <div class="col-md-4">
        <img src="http://placehold.it/450x300" alt="" class="img-responsive center-block">
        <br>
        <div class="service-info">
          <h6>T-shirt 3</h6>
          <h6>Price: XXX BDT</h6>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="col-md-8">
        <div class="row">
          <h4 class="text-center">Photo Jewelry</h4>
          <hr class="faded">
          <div class="col-md-6">
            <img src="http://placehold.it/450x300" alt="" class="img-responsive center-block">
            <br>
            <div class="service-info">
              <h6>Necklace</h6>
              <h6>Price: XXX BDT</h6>
            </div>
          </div>
          <div class="col-md-6">
            <img src="http://placehold.it/450x300" alt="" class="img-responsive center-block">
            <br>
            <div class="service-info">
              <h6>Bracelet</h6>
              <h6>Price: XXX BDT</h6>
            </div>
          </div>
        </div>
      </div>
    </section>

  {% endblock %}
