<!-- photo-print.html -->
{% extends "layout.html" %}

  {% block content %}
    {% include "partials/carousel.html" %}

    <section class="row">
      <div class="col-md-12">
        <h4 class="text-center">Photo Print</h4>
        <hr class="faded">
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <h6 class="text-center">Standard</h6>
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <ul class="service-list">
              <li class="service-list-item"><a href="#">4R</a></li>
              <li class="service-list-item"><a href="#">5R</a></li>
              <li class="service-list-item"><a href="#">6R</a></li>
              <li class="service-list-item"><a href="#">More...</a></li>
            </ul>
          </div> <!-- .three-columns -->
          <div class="col-xs-6 col-md-3">
            <h6 class="text-center">Official</h6>
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <ul class="service-list">
              <li class="service-list-item"><a href="#">Passport</a></li>
              <li class="service-list-item"><a href="#">Visa</a></li>
              <li class="service-list-item"><a href="#">Stamp</a></li>
            </ul>
          </div> <!-- .three-columns -->
          <div class="col-xs-6 col-md-3">
            <h6 class="text-center">Square</h6>
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <ul class="service-list">
              <li class="service-list-item"><a href="#">4<sup>"</sup>x 4<sup>"</sup></a></li>
              <li class="service-list-item"><a href="#">6<sup>"</sup>x 6<sup>"</sup></a></li>
              <li class="service-list-item"><a href="#">8<sup>"</sup>x 8<sup>"</sup></a></li>
              <li class="service-list-item"><a href="#">More...</a></li>
            </ul>
          </div> <!-- .three-columns -->
          <div class="col-xs-6 col-md-3">
            <h6 class="text-center">Large</h6>
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
            <ul class="service-list">
              <li class="service-list-item"><a href="#">4<sup>"</sup>x 4<sup>"</sup></a></li>
              <li class="service-list-item"><a href="#">6<sup>"</sup>x 6<sup>"</sup></a></li>
              <li class="service-list-item"><a href="#">8<sup>"</sup>x 8<sup>"</sup></a></li>
              <li class="service-list-item"><a href="#">More...</a></li>
            </ul>
          </div> <!-- .three-columns -->
        </div> <!-- .inner-row -->
        <hr class="faded">
      </div> <!-- .twelve-columns -->
    </section>

    <section class="row">
      <div class="col-md-6 text-center">
        <h4>Frame</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dicta quo recusandae error inventore dolore et deleniti quisquam odit aliquid, quidem libero consequatur at sit eum magnam tempore aperiam similique. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div> <!-- .six-columns -->
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <h6 class="service-name">Table Top Frame</h6>
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
          </div> <!-- .inner-six-columns -->
          <div class="col-md-6">
            <h6 class="service-name">Wall Frame</h6>
            <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
          </div> <!-- .inner-six-columns -->
        </div>
      </div> <!-- .six-columns -->
    </section>
  {% endblock %}
