<!-- photo-print-frame.html -->
{% extends "layout.html" %}

  {% block content %}

    <section class="row">
      <div class="col-md-12">
        <h3 class="text-center">Table Top Frame</h3>
        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li role="presentation" class="active"><a href="#4r" aria-controls="4r" role="tab" data-toggle="tab"><b>4R Frames</b></a></li>
          <li role="presentation" ><a href="#5r" aria-controls="5r" role="tab" data-toggle="tab"><b>5R Frames</b></a></li>
          <li role="presentation"><a href="#6r" aria-controls="6r" role="tab" data-toggle="tab"><b>6R Frames</b></a></li>
        </ul> <!-- /Nav tabs -->

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" role="tabpanel" id="4r">
            <div class="row">
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 40 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 40 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 40 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 40 BDT</p>
              </div>
            </div>
          </div>
          <div class="tab-pane" role="tabpanel" id="5r">
            <div class="row">
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 50 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 50 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 50 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 50 BDT</p>
              </div>
            </div>
          </div>
          <div class="tab-pane" role="tabpanel" id="6r">
            <div class="row">
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 60 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 60 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 60 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 60 BDT</p>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /Tab panes -->
    </section>

    <section class="row">
      <div class="col-md-12">
        <h3 class="text-center">Wall Frame</h3>
        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li role="presentation" class="active"><a href="#10r" aria-controls="10r" role="tab" data-toggle="tab"><b>10R Frames</b></a></li>
          <li role="presentation" ><a href="#12r" aria-controls="12r" role="tab" data-toggle="tab"><b>12R Frames</b></a></li>
          <li role="presentation"><a href="#16r" aria-controls="16r" role="tab" data-toggle="tab"><b>16R Frames</b></a></li>
        </ul> <!-- /Nav tabs -->

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" role="tabpanel" id="10r">
            <div class="row">
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 100 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 100 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 100 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 100 BDT</p>
              </div>
            </div>
          </div>
          <div class="tab-pane" role="tabpanel" id="12r">
            <div class="row">
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 120 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 120 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 120 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 120 BDT</p>
              </div>
            </div>
          </div>
          <div class="tab-pane" role="tabpanel" id="16r">
            <div class="row">
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 160 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 160 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 160 BDT</p>
              </div>
              <div class="col-md-3">
                <img src="http://placehold.it/600x400" alt="" class="img-responsive center-block">
                <p class="text-center">Price: 160 BDT</p>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /Tab panes -->
      </div>
    </section>

  {% endblock %}
