    <header class="container">
      <div class="row">
        <div class="col-xs-12">
          <nav class="secondary-nav" role="navigation">
            <ul class="nav navbar-nav">
              <li><a href="my-photos.html"><i class="fa fa-fw fa-picture-o" aria-hidden="true"></i> My Photos</a></li>
              <li><a href="#"><i class="fa fa-fw fa-plus" aria-hidden="true"></i> Add Photos</a></li>
              <li class="brand"><a href="#">Wash My Photo</a></li>
              <li><a href="signup.html"><i class="fa fa-fw fa-user-plus" aria-hidden="true"></i> Sign In / Join</a></li>
              <li><a href="cart.html"><i class="fa fa-fw fa-shopping-cart" aria-hidden="true"></i> Cart</a></li>
            </ul>
          </nav> <!-- /.secondary-nav -->
        </div>
      </div> <!-- .secondary-nav-row -->

      <div class="row">
        <div class="col-xs-12">
          <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="primary-nav">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html"><b>Home</b></a></li>
                <li class="dropdown">
                  <a href="photo-print.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="false" aria-expanded="false"><b>Photo Print</b> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="photo-print.html">Index Page</a></li>
                    <li><a href="photo-print-subpage.html">Standard Size</a></li>
                    <li><a href="photo-print-subpage.html">Official Size</a></li>
                    <li><a href="photo-print-subpage.html">Square Size</a></li>
                    <li><a href="photo-print-subpage.html">Large Size</a></li>
                    <li><a href="photo-print-frame.html">Frame</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="photo-book.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="false" aria-expanded="false"><b>Photo Book</b> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="photo-book.html">Index Page</a></li>
                    <li><a href="photo-book-subpage.html">Service Page</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="photo-card.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="false" aria-expanded="false"><b>Photo Card</b> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="photo-card.html">Index Page</a></li>
                    <li><a href="photo-card-subpage.html">Service Page</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="photo-gift.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="false" aria-expanded="false"><b>Photo Gift</b> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="photo-gift.html">Index Page</a></li>
                    <li><a href="photo-gift-subpage.html">Photo Mug</a></li>
                    <li><a href="photo-gift-subpage.html">Photo Shirt</a></li>
                    <li><a href="photo-gift-subpage.html">Photo Jewelry</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </nav>
        </div>
      </div> <!-- /.primary-nav-row -->
    </header>
