<section class="row">
  <h4>Theme</h4>
  <hr>
  <div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#featured" aria-controls="featured" role="tab" data-toggle="tab">Featured</a></li>
      <li role="presentation"><a href="#family" aria-controls="family" role="tab" data-toggle="tab">Family</a></li>
      <li role="presentation"><a href="#wedding" aria-controls="wedding" role="tab" data-toggle="tab">Wedding</a></li>
      <li role="presentation"><a href="#birthday" aria-controls="birthday" role="tab" data-toggle="tab">Birthday</a></li>
      <li role="presentation"><a href="#friend" aria-controls="friend" role="tab" data-toggle="tab">Friends</a></li>
      <li role="presentation"><a href="#romantic" aria-controls="romantic" role="tab" data-toggle="tab">Romantic</a></li>
      <li role="presentation"><a href="#pattern" aria-controls="pattern" role="tab" data-toggle="tab">Pattern</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="featured">
        <div class="row">
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Featured" alt="" class="img-responsive center-block" width="100%"></div>
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Featured" alt="" class="img-responsive center-block" width="100%"></div>
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Featured" alt="" class="img-responsive center-block" width="100%"></div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="family">
        <div class="row">
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Family" alt="" class="img-responsive center-block" width="100%"></div>
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Family" alt="" class="img-responsive center-block" width="100%"></div>
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Family" alt="" class="img-responsive center-block" width="100%"></div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="wedding">
        <div class="row">
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Wedding" alt="" class="img-responsive center-block" width="100%"></div>
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Wedding" alt="" class="img-responsive center-block" width="100%"></div>
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Wedding" alt="" class="img-responsive center-block" width="100%"></div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="birthday">
        <div class="row">
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Birthday" alt="" class="img-responsive center-block" width="100%"></div>
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Birthday" alt="" class="img-responsive center-block" width="100%"></div>
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Birthday" alt="" class="img-responsive center-block" width="100%"></div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="friend">
        <div class="row">
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Friends" alt="" class="img-responsive center-block" width="100%"></div>
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Friends" alt="" class="img-responsive center-block" width="100%"></div>
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Friends" alt="" class="img-responsive center-block" width="100%"></div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="romantic">
        <div class="row">
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Romantic" alt="" class="img-responsive center-block" width="100%"></div>
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Romantic" alt="" class="img-responsive center-block" width="100%"></div>
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Romantic" alt="" class="img-responsive center-block" width="100%"></div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="pattern">
        <div class="row">
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Pattern" alt="" class="img-responsive center-block" width="100%"></div>
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Pattern" alt="" class="img-responsive center-block" width="100%"></div>
          <div class="col-md-4"><img src="http://placehold.it/300x200?text=Pattern" alt="" class="img-responsive center-block" width="100%"></div>
        </div>
      </div>
    </div>

  </div>
</section>
